@charset "UTF-8";

body {
    background-color: black;
    font: normal 20pt Arial;
}

h1 {
    color: white;
    margin: auto;
    padding: 5px;
    text-align: center;
}

p {
    color: rgb(67, 111, 255);
    margin: auto;
    padding: 10px;
    text-align: center;
}